<div class="container col-md-8"> 
    <div class="card">
        <div class="card-header">
             <div class="row">
                  <div class="col-md-5">
                      <h2>Manage Classroom</h2>
                  </div>
                  <div >
                        <a  class="btn btn-primary">ListStudent(s)</a>
                        <!--<a (click)="onOpenModal(null, 'add')" class="btn btn-success">AddStudent</a>-->
                        <a href="" class="btn btn-secondary">ListSubject(s)</a>
                        <a href="" class="btn btn-success">AddSubject</a>
                  </div>
             </div>
        </div>
        <div class="card-body">
            <a href="" class="btn btn-primary text-center">Attibute Group And Subject</a>
        </div>
        <div>
            <table class="table table-bordered">
                <thead>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Matricule</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students">
                        <td>{{student?.firstname}}</td>
                        <td>{{student?.lastName}}</td>
                        <td>{{student?.matricule}}</td>
                        <td>
                            <button id="btnEdit" class="btn btn-warning col-ml-2">edit</button>
                            <button class="btn btn-danger">delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Add Student Modal 
<div class="modal fade" id="addStudentModal" tabindex="-1" role="dialog" aria-labelledby="addStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addStudentModalLabel">Add Student</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddStudent(addForm)">
            <div class="form-group">
               <label for="lastName">Last Name</label>
               <input type="text" ngModel name="lastName" class="form-control" id="lastName" placeholder="Last Name" required>
            </div>
            <div class="form-group">
               <label for="firstname">First Name</label>
               <input type="text" ngModel name="firstname" class="form-control" id="firstname" placeholder="First Name" required>
            </div>
            <div class="form-group">
               <label for="matricule">Matricule</label>
               <input type="text" ngModel name="matricule" class="form-control" id="matricule" placeholder="Matricule" required>
            </div>
        
            <div class="modal-footer">
               <button type="button" id="add-student-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>
  -->
</div>